@inherits LayoutComponentBase
@using SpaceTraders.Ui.Components;

@inject LocalStorageService _localStorageService;
@inject ApiService _apiService;
@inject NavigationManager _navManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ServerStatus />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        string token = await _localStorageService.Load("token");

        if(!string.IsNullOrEmpty(token))
        {
            _apiService.Token = token;
            _navManager.NavigateTo("/accountoverview");
        }
        else
        {
            _navManager.NavigateTo("/");
        }
    }
}