@page "/accountoverview"

@using SpaceTraders.Ui.Components;

<PageTitle>Account Information</PageTitle>

<h1>Account Summary</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <AccountSummary />
        </div>
        <div class="col-sm">
            <LoansSummary />
        </div>
    </div>
</div>

<ShipSummary />