@page "/"
@inject HttpClient httpClient
@inject ApiService apiService;
@using SpaceTraders.Ui.Components;

<PageTitle>SpaceTraders</PageTitle>

<main class="container-lg">
    <div class="container text-center">
        

        <ActorIdentity />
        
    </div>
</main>

@code {
    
}
